body{
    transition: background-color 0.3s, color 0.3s;
}
.container{
    transition: background-color 0.3s, color 0.3s;
}
.theme-toggle{
    display: flex;
    align-items: center;
    justify-between;
    width: 100px;
    height: 40px;
    background-color: #e2e8f0;
    border-radius: 20px;
    position: relative;
    cursor: pointer;
    transition: background-color 0.3s;
    padding: 1px;
}
.toggle-light, .toggle-dark{
    font-size: 18px;
    font-weight: bold;
    pointer-events: none;
}
.toggle-circle{
    width: 36px;
    height: 36px;
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    top: 1px;
    left: 1px;
    transition: transform 0.3s;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.dark .toggle-circle{
    transform: translateX(48px);
}
