body{
    transition: background-color 0.3s, color 0.3s;
}
.container{
    transition: background-color 0.3s, color 0.3s;
}
.theme-toggle{
    transition: background-color 0.3s;
}
.toggle-circle{
    transition: transform 0.3s;
}
.dark .toggle-circle{
    transform: translateX(100%);
}